@import '../../styles/_colors';

.selectable-skills {

  .content {
    background-color: $light-secondary-color;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .container {

    display: flex;
    flex-flow: column;

  }

}