@import '../../styles/_mixins';
@import '../../styles/_colors';

.nav {

  display: flex;
  flex-flow: row wrap;
  align-items: baseline;

  .site-name {

    flex-grow: 1;

    .index {
      text-decoration: none;
      color: black;
      @include tag(white, $secondary-color);
    }

  }

  .nav-wrapper {

    align-self: center;
    margin-right: 16px;

    .nav-items {

      display: flex;
      flex-flow: row wrap;

      .nav-item {

        @include light-text;

        .link {

          text-decoration: none;
          color: black;
          padding: 10px 10px;

          @include tag(white, $primary-color);

          &.active {
            color: $primary-color;
          }

        }

      }

    }

  }

}