@import '../../styles/_colors';

.presentation {

  box-shadow: 0 -5px 15px grey;

  .container {

    display: flex;
    flex-flow: row wrap;

    .site-name {
      flex-grow: 1;
    }

    .nav-wrapper {
      align-self: flex-end;
      .nav-items {
        display: flex;
        flex-flow: row wrap;
        .nav-item {
          margin-right: 15px;
          font-weight: 400;
        }
      }

    }

  }

}