@import '../../styles/_mixins';
@import '../../styles/_colors';

.tags {

  display: flex;
  flex-direction: column;

  ul {
    @include list-without-bullet;
  }

  .values {
    display: flex;
    flex-flow: row wrap;
  }

  .selectors {
    display: flex;
    flex-flow: row wrap;
  }

}