@import '../../styles/_mixins';
@import '../../styles/_colors';

.tags {

  display: flex;
  flex-direction: column;

  .values, .selectors {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    .strong {
      @include light-text;
    }
  }

}