@import '../../styles/_colors';
@import '../../styles/_screens';
@import '../../styles/_mixins';

.skill {

  display: flex;
  flex-direction: row;
  align-items: stretch;

  color: $light-primary-color;

  margin: 8px;

  &:hover {
    box-shadow: 0 2px 5px #888888;
  }

  @media (max-width: $m-screen-max) {
    flex-grow: 1;
  }

  .vote-btn {

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: $secondary-color;
    color: $light-primary-color;

    padding: 5px 8px;
    border: none;

    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;

    &:hover {
      cursor: pointer;
    }
    &:focus, &:active {
      outline: none;
    }

  }

  .content-container {

    flex-grow: 1;
    background-color: $secondary-color;
    padding-right: 12px;

    .title-container {

      display: flex;
      align-items: baseline;

      .title {
        margin: 0;
        padding: 20px 0 4px 12px;
      }
      .vote-txt {
        margin-left: 6px;
        .icon {
          font-size: 12px;
        }
      }

    }

    .skill-tags-container {
      padding: 0 0 20px 12px;
    }

  }

}