@import "../../assets/sass/_variables";

.menu {

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // TOP NAVBAR ////////////////////////////////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  .top-nav {

    height: 180px;

    // Icon shown on small and medium screens to toggle the sidenav
    .mdi-navigation-menu {
      margin-left: 30px;
    }

  }

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // LEFT NAVBAR ///////////////////////////////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  .side-nav {

    box-shadow: none;
    border-right: solid 1px $light-grey;

    // Nav items
    li {

      padding: 0;

      &:hover {
        background-color: white;
      }

      // Site name
      &.brand-logo {
        font-size: 20px;
        line-height: 63px;
        border-bottom: solid 1px $light-grey;
        padding-left: 30px;
      }

      // Site links
      &:not(.brand-logo) {
        font-weight: 500;
        a {
          padding-left: 30px;
          transition: padding-left 0.5s;
          &.active {
            color: $secondary-color;
          }
          &:hover {
            padding-left: 40px;
          }
        }
      }

    }

  }

}