@import '../../styles/_colors';
@import '../../styles/_screens';

.tag {

  border-radius: 2px;
  padding: 10px 10px;
  margin: 0 10px 10px 0;

  text-align: center;

  transition: background-color 0.5s, color 0.5s;

  @media (max-width: $m-screen-max) {
    flex-grow: 1;
  }

  &:hover {
    cursor: pointer;
    background-color: $primary-color-lighten;
  }

  &.active {
    background-color: $primary-color;
    color: $light-text-color;
  }

}