@import '../../styles/_colors';

.tag {

  margin: 0 10px 10px 0;
  padding: 10px 10px;
  border-radius: 2px;
  text-align: center;

  transition: background-color 0.5s, color 0.5s;

  &:hover {
    cursor: pointer;
    background-color: $primary-color-lighten;
  }

  &.active {
    background-color: $primary-color;
    color: $light-text-color;
  }

}