@import '../../styles/_colors';
@import '../../styles/_screens';
@import '../../styles/_mixins';

.tag {

  border-radius: 2px;
  padding: 10px 10px;
  margin: 0 10px 10px 0;

  text-align: center;

  @include tag($primary-color-lighten, black);

  @media (max-width: $m-screen-max) {
    flex-grow: 1;
  }

  &.active {
    background-color: $primary-color;
    color: $light-primary-color;
  }

}