@import '../../styles/_mixins';

.skills {

  display: flex;
  flex-direction: column;

  .values {

    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-top: 16px;

    .skills-items-enter, .skills-items-appear {
      opacity: 0;
      &.skills-items-enter-active, &.skills-items-appear-active {
        opacity: 1;
        transition: opacity 1s;
      }
    }
    .skills-items-leave {
      opacity: 1;
      &.skills-items-leave-active {
        opacity: 0;
        transition: opacity 1s;
      }
    }

  }

}