@import '../../styles/_mixins';
@import '../../styles/_screens';

.skills {

  display: flex;
  flex-direction: column;

  .values {

    display: flex;
    flex-flow: row wrap;

    margin-top: 16px;

    .skills-items-enter, .skills-items-appear {
      opacity: 0;
      transform: scale(0);
    }
    .skills-items-enter.skills-items-enter-active, .skills-items-appear.skills-items-appear-active {
      opacity: 1;
      transform: scale(1);
      transition: opacity 0.5s, transform 0.5s;
    }

    .skills-items-leave {
      opacity: 1;
      transform: scale(1);
      &.skills-items-leave-active {
        opacity: 0;
        transform: scale(0);
        transition: opacity 0.5s, transform 0.5s;
      }
    }

  }

}