@import '../../styles/_colors';
@import '../../styles/_screens';
@import '../../styles/_mixins';

.skill {

  display: flex;
  flex-direction: row;
  align-items: stretch;

  color: $light-text-color;

  margin-right: 16px;
  margin-bottom: 16px;

  &:hover {
    box-shadow: 0 2px 5px #888888;
  }

  @media (max-width: $m-screen-max) {
    flex-grow: 1;
  }

  .vote {

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: $secondary-color;
    color: $light-text-color;

    padding: 5px 8px;
    border: none;

    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;

    &:hover {
      cursor: pointer;
    }
    &:focus, &:active {
      outline: none;
    }

  }

  .content-container {

    flex-grow: 1;
    background-color: $secondary-color;

    .title {
      margin: 0;
      padding: 20px 36px 4px 12px;
    }

    .skill-tags-container {
      padding: 0 36px 20px 12px;
    }

  }

}