@import '../../styles/_mixins';
@import '../../styles/_colors';

.tags {

  display: flex;
  flex-direction: column;

  ul {
    @include list-without-bullet;
  }

  .values, .selectors {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    .strong {
      font-weight: 500;
    }
  }

}