@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
@import '../../styles/_screens';
@import '../../styles/_mixins';

/* Page structure */

* {
  box-sizing: border-box;
}

body {
  @include very-light-text;
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}

.page-section {
  padding-top: 10px;
  padding-bottom: 10px;
}

.container {
  width: 70%;
  margin: 0 auto;
  @media (max-width: $m-screen-max) {
    width: 80%;
  }
  @media (max-width: $s-screen-max) {
    width: 90%
  }
}

/* Helper classes */

.hide-on-m-and-lower {
  @include hide-on-screen-size-and-lower($m-screen-max)
}

.hide-on-s-and-lower {
  @include hide-on-screen-size-and-lower($s-screen-max)
}

.hide-on-m-and-greater {
  @include hide-on-screen-size-and-greater($m-screen-min)
}

ul.without-bullets {
  list-style-type: none;
  padding: 0;
}

/* Titles */

h1 {
  @include bold-text;
  font-size: 30px;
}

h2 {
  @include normal-text;
}

h3 {
  @include light-text;
}

/* On small screens */

@media (max-width: $s-screen-max) {
  h1, h2, p {
    text-align: center;
  }
}