@import '../../styles/_colors';
@import '../../styles/_screens';
@import '../../styles/_mixins';

.tag {

  border-radius: 2px;
  padding: 10px 10px;
  margin: 5px;

  text-align: center;

  @include tag($primary-color-lighten, black);

  &.active {
    background-color: $primary-color;
    color: $light-primary-color;
  }

}