@mixin hide-on-screen-size-and-lower($screen-size) {
  @media (max-width: $screen-size) {
    display: none !important;
  }
}

@mixin hide-on-screen-size-and-greater($screen-size) {
  @media (min-width: $screen-size) {
    display: none !important;
  }
}

@mixin very-light-text {
  font-weight: 300;
}

@mixin light-text {
  font-weight: 400;
}

@mixin normal-text {
  font-weight: 500;
}

@mixin bold-text {
  font-weight: 700;
}

@mixin tag($hover-background-color, $hover-text-color) {
  transition: background-color 0.5s, color 0.5s;
  &:hover {
    background-color: $hover-background-color;
    color: $hover-text-color;
    cursor: pointer;
  }
}